$baseYellow: #E8D600;
$baseGreen: #008800;

.header{
    border-bottom: none !important;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

#container{
    display: flex;
    flex-direction: column;
}

.firstPageElement{
    margin-top: 100px;

}

#register-container{
    margin-top:10%;
}

.logo{
    margin-top: 0px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    img{
        width: 50px;
        height: 50px;
        margin-right: 8px;
    }
    span{
        color: darken($baseYellow, 10%) !important;
        padding-top: 10px;
        font-weight: initial;
        &.lite{
            color: lighten($baseGreen, 10% )!important;
            font-weight: bold;
            font-family: "Georgia", serif;
        }
    }
    .st0{fill:$baseYellow;}
	.st1{fill:$baseGreen;}
}

#logo-login{
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
}

.caret{
    display: none;
}

#sidebar{
    margin-left: -15px !important;
    z-index: 9998;
}

.sidebar-closed > #sidebar > ul {

    display: none;

}

.sidebar-closed #main-content {

    margin-left: 0px;

}

.sidebar-closed #sidebar {

    margin-left: -195px !important;

}

.actions{
    min-width: 180px;
}